// $primary-color : #E53E3E;
$primary-color : #1363aa;
$white: #ffffff !important;
$damp-blue:  #1363aa;
$mild-blue: #034981;
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  height: 100%;
}

body {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

ol,
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a.link-primary{
  color: $primary-color;
}

a {
  &:hover {
    text-decoration: none;
  }
  color: $primary-color;
  &:hover{ 
    color: darken($primary-color, 10);
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
  font-weight: $semibold;
  margin: 0px 0px 10px;
  font-family: $fontEpic;
}

.btn:focus,
.btn:active,
button:focus {
  outline: none !important;
  box-shadow: none !important;
}

p {
  margin: 0px 0px 15px;
}
.btn{
  border-radius: 38px;
  padding-left: 25px;
  padding-right: 25px;
  transition: all 0.8s;
  min-width:120px;
}

.btn-custom{
  background: $primary-color;
  color: $white;
  font-weight: $medium;
  border: 2px solid $primary-color;
}

.btn-outline-custom{
  border: 2px solid $primary-color;
  color: $primary-color;
  font-weight: $medium;
  
  &:hover{
    @extend .btn-custom;
  }
}

.btn-custom-white{
  background: $white;
  color: $black !important;
  font-weight: $medium;
  border: 2px solid $white;
}

.btn-outline-custom-white{
  border: 2px solid $white;
  color: $white;
  font-weight: $medium;
  &:hover{
    @extend .btn-custom-white;
  }
 
}

.btn-custom-blue{
  background: darken($mild-blue, 5);
  color: $white !important;
  font-weight: $medium;
  border: 2px solid darken($mild-blue, 5x);
  &:hover{
    @extend .btn-custom-white;
  }
}


.nav-item{
  .dropdown-menu{
    border: none; 
    border-radius: 0px;
    min-width: 222px; 
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
  }
  .dropdown-item{
    padding: 8px 20px;
    &:hover{
      color: $white;
      background: lighten($primary-color, 5);
    }
  }
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.login{
  .modal-dialog{
    max-width: 100%;
    max-height: 100vh;
    margin: 0px;
    border: none;
    .modal-content{
      border-radius: 0px;
      height: 100vh;
      border: none;
      box-shadow: none;
    }
    .modal-header{
      border-bottom: 0px;
    }
    .modal-footer{
      border-top: 0px;
      padding: 30px;
      background: $gray-200;
      border-radius: 0px;
      justify-content: center;
      text-align: center;
      h4{
        color: $gray-700;
      }
      a{
        vertical-align: middle;
        i{
          vertical-align: middle;
        }
      }
    }
    .modal-body{
      padding: 30px 60px;
      .heading{
        padding-bottom: 20px;
        border-bottom: 1px solid $gray-100;
      }
      .form-wrapper{
        margin-top: 30px;
        .form-group{
          margin-bottom: 2rem;
        }
        label{
          color: $gray-600;
        }
        .form-control{
          box-shadow: none;
          height: 60px;
          border: none;
          box-shadow: none;
          border-bottom: 3px solid $gray-500;
          border-radius: 0;
         padding-left: 30px;
         font-size: 1.2rem;
          &:focus{
            color: $damp-blue;
            border-bottom: 3px solid $mild-blue;
            background: $gray-100;
          }
        }
        .btn{
          padding: 13px 32px;
          min-width: 220px;
        }
      }
    }
  }
}

